.object-left{
    overflow: hidden;
}
.object-left-hidder{
    animation: objectAnimateleftBack.5s ease 1 forwards;
}
.object-target-left{
    animation: objectAnimateleft .5s ease 1 forwards;
    transform: translateX(-400px);
    opacity: 0;
}
@keyframes objectAnimateleft{
    0%{
        transform: translateX(-400px);
        opacity: 0;
    }
    33.3%{
        transform: translateX(50px);
        opacity: 1;
    }
    66.6%{
        transform: translateX(-50px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes objectAnimateleftBack{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(-400px);
        opacity: 0;
    }
}


.object-right{
    overflow: hidden;
}
.object-right-hidder{
    animation: objectAnimaterightBack.5s ease 1 forwards;
}
.object-target-right{
    animation: objectAnimateright .5s ease 1 forwards;
    transform: translateX(400px);
    opacity: 0;
}
@keyframes objectAnimateright{
    0%{
        transform: translateX(400px);
        opacity: 0;
    }
    33.3%{
        transform: translateX(-50px);
        opacity: 1;
    }
    66.6%{
        transform: translateX(50px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes objectAnimaterightBack{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }
    100%{
        transform: translateX(400px);
        opacity: 0;
    }
}



